@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);




#content5-3 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-size: 72px;
  font-family: 'Slabo 27px', serif;
}
#content5-3 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#content5-3 .mbr-article {
  color: #fff;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-6 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #000000;
}
#header4-4 H1 {
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
  font-size: 48px;
}
#header4-4 P {
  color: #efefef;
  font-family: 'Raleway', sans-serif;
}
#header3-i H3 {
  color: #9365b8;
}
#header3-j H3 {
  color: #1abc9c;
}
#msg-box4-o .mbr-header__text {
  color: #ffffff;
}
#msg-box4-o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-o .mbr-article {
  color: #ffffff;
}
#content5-k .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-k .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-k .mbr-article {
  color: #fff;
}
#ext_menu-l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-l .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-l .mbr-navbar__hamburger {
  color: #000000;
}
#header4-n P {
  font-size: 30px;
}
#ext_menu-p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-p .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-p .mbr-navbar__hamburger {
  color: #000000;
}
#content5-r .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-r .mbr-article {
  color: #fff;
}
